<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
</head>
<body>

<div id="A2" ng-app="myApp" ng-controller="myCtrl">
    名字: <input ng-model="name">
    <h1>你输入了: {{name}}</h1>
</div>

<div id="A4" ng-app="app4" ng-init="names=[
{name:'Jani',country:'Norway'},
{name:'Hege',country:'Sweden'},
{name:'Kai',country:'Denmark'}]">

    <p>循环对象：</p>
    <ul>
        <li ng-repeat="x in names">
            {{ x.name + ', ' + x.country }}
        </li>
    </ul>

</div>

<script>
    var app4 = angular.module("app4",[]);
    var app = angular.module('myApp', []);
    angular.bootstrap(document.getElementById("A4"),['app4']);

    app.controller('myCtrl', function($scope) {
        $scope.name = "John Doe";
    });
</script>

<p>修改输入框的值，标题的名字也会相应修改。</p>

</body>
</html>