<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="angular.js"></script>
    <script src="jquery.js"></script>
</head>
<body>

<body>

<div ng-app="app1">
    <div id="A1">
        <input ng-model="name" type="text" placeholder="请输入姓名">
        <p>我的姓名： {{name}}</p>
    </div>

    <div id="A2">
        <input ng-model="age" type="number" placeholder="请输入年龄">
        <p>我的年龄: {{age}}</p>
    </div>

    <div id="A3" ng-init="names=['Jani','Hege','Kai']">
        <p>使用 ng-repeat 来循环数组</p>
        <ul>
            <li ng-repeat="x in names">
                {{ x }}
            </li>
        </ul>
    </div>

    <div id="A4" ng-init="names=[
{name:'Jani',country:'Norway'},
{name:'Hege',country:'Sweden'},
{name:'Kai',country:'Denmark'}]">

        <p>循环对象：</p>
        <ul>
            <li ng-repeat="x in names">
                {{ x.name + ', ' + x.country }}
            </li>
        </ul>

    </div>

    <div id="A5" ng-controller="myCtrl1">
        名字: <input ng-model="name">
        <h1>你输入了: {{name}}</h1>
    </div>

    <!--get方法-->
    <div id="A6" ng-controller="myCtrl2">
        <p>ssss {{msg}}</p>
        <ul>
            <li ng-repeat="x in data">id={{x.id}},picurl={{x.picurl}}</li>
        </ul>
    </div>

    <!--post方法-->
    <div id="A7" ng-controller="myCtrl3">
        <p>ssss {{msg}}</p>
        <ul>
            <li ng-repeat="x in data">id={{x.id}},picurl={{x.picurl}}</li>
        </ul>
    </div>
</div>

<!--尽量一个html里面只声明一个ng-app-->
<div id="div2" ng-app="app2" ng-init="points=[1,15,19,2,40]">
    <p>第三个值为 {{ points[2] }}</p>
    <button type="button" id="btn">Click me</button>
</div>


<script> <!--这里不能引入jQuery,会冲突-->
    var app1 = angular.module("app1",[]);
    var app2 = angular.module("app2",[]);
    angular.bootstrap(document.getElementById("div2"),['app2']);

    app1.controller("myCtrl1",function($scope){
        $scope.name = "Joker";
    });

    //get方法
    app1.controller('myCtrl2', function($scope, $http) {
        $http.get("http://192.168.1.122/yne_siteM/index.php/Home/Interface/GetBanner")
            .success(function(response) {
                    $scope.status = response.status;
                    $scope.msg = response.msg;
                    $scope.data = response.data;
                });
    });

//    $.get("http://192.168.1.122/yne_siteM/index.php/Home/Interface/GetBanner")
//            .success(function(){
////                app1.controller("myCtrl2",function($scope){
////                    $scope.msg = "jQuery Get";
////                });
//                alert("ok");
//            });

</script>


</body>


</body>
</html>
